# Binaries
**/*.o
**/*.a
**/*.so
**/*.dll
**/*.exe
**/*.test
**/*.prof
irc-medialink

# Folders
_obj
_test

# Architecture specific extensions/prefixes
**/*.[568vq]
**/[568vq].out

# cgo
**/*.cgo1.go
**/*.cgo2.c
**/_cgo_defun.c
**/_cgo_gotypes.go
**/_cgo_export.*

# Unit tests
**/*_test.go

# Configurations
config.yml
secrets.yml

# Scripts
**/*.bat

**/_testmain.go

# Docker
**/Dockerfile

# Ignores
**/*.*ignore

# Documentation
LICENSE
**/*.md

# Source code metadata
.git
